.row_single_data{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    gap: 4.5rem;
}
#checkbox{
    height: 1rem;
    width: 15px;
}
#ptag{
    font-weight: bold;
    font-size: 20px;
    color: rgb(233, 49, 25);
}
.single_delete_data_btn{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(241, 239, 239);
    background-color: rgb(67, 16, 161);
}
.single_delete_data_btn:hover{
    background-color: rgb(220, 8, 8);
    font-size: 12.5px;   
}
